log:
4/5/2019
find the prior period where there is sales but no spend, and check for correlation btween sales and spend
Realized that side to side comparison between 2017 and 2018 is not very meaningful because many of the products had no sales in 2017

Next:
need to redo the analysis using only 2018 data where there is meaingful sales for all products

4/8/2019
Did ridge regression (linear regression) on the merged Campign and Sales data from week 18 to 52 in 2018, almost no regularization
outputed results to dfAll04082019.csv

Next: 
seeing that the coefficients (ROI) by UPC of the ridge regression output as sometimes very high and other modest, re-conduct that analysis by rolling up the data to brand level. We supsect that there is some cannibalization from one UPC over the other when we put search spend on only one UPC.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read General sales file
Target_Sales = pd.read_csv("Target_Sales_2017-2018.csv", encoding = "ISO-8859-1")

dropInd=Target_Sales[Target_Sales['UPC']=='Filler'].index
Target_Sales.drop(index = dropInd, inplace=True)

Target_Sales["UPC"] = Target_Sales["UPC"].astype(np.int64)
Target_Sales["Wk End"] = pd.to_datetime(Target_Sales['Wk End'], infer_datetime_format=True)
#Target_Sales["DayofWeek"] = Target_Sales["Wk End"].dt.dayofweek
Target_Sales["YEAR"] = Target_Sales["Wk End"].dt.year
Target_Sales["WeekNum"] = Target_Sales["Wk End"].dt.week
Target_Sales["YEARWeekNum"] = Target_Sales["YEAR"].astype(str)+"-"+Target_Sales["WeekNum"].astype(str)

C:\Users\80160001\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3044: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
Target_Sales.columns

Index(['Filter BU 1', 'BU', 'BU (VisualizationFactView)', 'Brand Name',
       'UPC Title', 'Wk End', 'Filter Year', 'Fiscal Year Number',
       'Gross Sales', 'IRI Category (UPCHierarchyView)',
       'IRI SubCategory (UPCHierarchyView)', 'Filter Parent Name',
       'Pepsi Quarter', 'Period Number', 'Shipped Units', 'UPC',
       'UPC (VisualizationFactView)', 'YEAR', 'WeekNum', 'YEARWeekNum'],
      dtype='object')

In [4]:
TSalesLt = Target_Sales[["UPC","Gross Sales","YEAR", "WeekNum", "YEARWeekNum"]].copy()

In [5]:
TSalesLt.head(3)

            UPC  Gross Sales  YEAR  WeekNum YEARWeekNum
0   28400243490        13.96  2017       45     2017-45
1  876063002035        13.16  2017       42     2017-42
2  876063002806         3.29  2017       51     2017-51

In [6]:
TSalesLt.isnull().sum() #there were some sales were null, fill them

UPC               0
Gross Sales    9630
YEAR              0
WeekNum           0
YEARWeekNum       0
dtype: int64

In [7]:
TSalesLt.fillna(0, inplace = True)
TSalesLt.isnull().sum()

UPC            0
Gross Sales    0
YEAR           0
WeekNum        0
YEARWeekNum    0
dtype: int64

In [8]:
#read campaign data
TargetCamp = pd.read_csv("TGT_PM_Pepsi_Wrap_Up_Report_4.1.19.csv", encoding = "ISO-8859-1")

TargetCamp.rename(columns = {' Spend ': 'Spend'}, inplace=True)
TargetCamp["UPC"] = TargetCamp["UPC"].astype(np.int64)
TargetCamp["Date"] = pd.to_datetime(TargetCamp['Date'], infer_datetime_format=True)
#TargetCamp["DayofWeek"] = TargetCamp["Date"].dt.dayofweek
TargetCamp["YEAR"] = TargetCamp["Date"].dt.year
TargetCamp["WeekNum"] = TargetCamp["Date"].dt.week
TargetCamp["YEARWeekNum"] = TargetCamp["YEAR"].astype(str)+"-"+TargetCamp["WeekNum"].astype(str)
TargetCampLt = TargetCamp.drop(columns=['Account Id', 'Account Name', 'Campaign Id', 'Campaign Name', 'Date',
                        'TCIN Name', 'Impressions', 'Clicks']).copy()

In [9]:
TargetCampLt.head(3)

           UPC      TCIN  Spend  YEAR  WeekNum YEARWeekNum
0  12000142086  16958332      4  2018       34     2018-34
1  12000142086  16958332      0  2018       34     2018-34
2  12000142086  16958332     10  2018       34     2018-34

In [10]:
#some variables for campaign year and campaign weeks
campYear = 2018
campWeeks = np.sort(TargetCamp["WeekNum"].unique())

In [11]:
print("unique UPCs {}".format(len(TargetCamp.UPC.unique())))
print("unique TCINs {}".format(len(TargetCamp.TCIN.unique())))

unique UPCs 174
unique TCINs 181

In [ ]:
## Optional ##
#since there are some UPC with multiple TCINs, we need to merge those spends for the single UPC
UPCtoTCIN = TargetCamp.groupby(["UPC","TCIN"])["Account Id"].count().reset_index().groupby(["UPC"])["TCIN"].count()

In [ ]:
#spot check that the 1  UPC to many TCIN cases
UPCtoTCIN[UPCtoTCIN>1]

In [ ]:
UPCtoTCIN[UPCtoTCIN>1].index

In [ ]:
TargetCamp[TargetCamp["UPC"]==818094000000.0]["TCIN"].unique()

In [ ]:
TargetCamp[TargetCamp["TCIN"]==12958487].head(1) #the first two TCINs for UPC 818094000000

In [ ]:
TargetCamp[TargetCamp["TCIN"]==14771376].head(1) #there are similar product but slightly different
## Optional END

In [12]:
#roll the Campaign data into weekly so it matches with the time series frequency of Target Sales data
#also the one UPC to many TCIN cases,  those spend will be summed to the single UPC
#TCgroup=TargetCamp.groupby(["TCIN", "UPC", "YEAR", "WeekNum"]).agg({"Impressions": "sum", "Clicks": "sum", "Spend":"sum" })
TCWeekly = TargetCampLt.groupby(["UPC", "YEAR", "WeekNum", "YEARWeekNum"], as_index=False)["Spend"].sum()

In [13]:
len(TCWeekly.UPC.unique()) #should be 174

174

In [14]:
TCWeekly.head(3)#check that it works

           UPC  YEAR  WeekNum YEARWeekNum  Spend
0  12000002304  2018       35     2018-35      0
1  12000002304  2018       36     2018-36      8
2  12000002304  2018       37     2018-37      5

In [15]:
TCWeekly["Spend"].sum() # should be 44797

44797

In [ ]:
#Check the weeks before and after campign weeks if there were sales in 2018

In [19]:
#check TSalesLt for top 3 ASIN for few weeks before and after campaign
top20UPC = [30000064412,12000809941,28400642033,12000504044,30000060834,12000809965,28400639552,30000061190,
30000010402,28400011099,30000169018,52000010978,12000171864,30000562529,30000261927,30000311820,52000010886,
12000809972,52000340242,30000012000]

In [22]:
#check that there is sales for top 20UPCS in 2018 for weeks 18 10 26 (2 months before campaign)
TSalesLt[TSalesLt["UPC"].isin(top20UPC) & TSalesLt["YEAR"].isin([2018]) & TSalesLt["WeekNum"].isin(np.arange(18,27)) ]\
        .groupby("UPC").agg({"Gross Sales": "sum"})
#confirmed that's true

             Gross Sales
UPC
12000171864      2590.91
12000504044      6980.94
12000809941      4710.45
12000809965      3500.91
12000809972      2011.97
28400011099      5262.54
28400639552      8056.15
28400642033      7916.42
30000010402      6344.40
30000012000      3037.69
30000060834      9914.44
30000061190      6940.62
30000064412     11947.97
30000169018      5737.86
30000261927      7211.20
30000311820      4611.79
30000562529      3946.87
52000010886      7424.49
52000010978      6709.41
52000340242      5231.94

In [23]:
#check that there is sales for top 20UPCS in 2018 for weeks 45 to 52 (2 months after campaign)
TSalesLt[TSalesLt["UPC"].isin(top20UPC) & TSalesLt["YEAR"].isin([2018]) & TSalesLt["WeekNum"].isin(np.arange(45,53)) ]\
        .groupby("UPC").agg({"Gross Sales": "sum"})
#confirmed that most have sales, except 2 UPC 52000010886 and 52000010978

             Gross Sales
UPC
12000171864     11034.50
12000504044     13403.87
12000809941     18840.16
12000809965     14432.91
12000809972      9249.17
28400011099      7744.84
28400639552      9361.11
28400642033     12727.33
30000010402     10180.76
30000012000      7262.56
30000060834     13209.41
30000061190     13699.95
30000064412     13676.20
30000169018      7752.32
30000261927      7892.49
30000311820      2897.50
30000562529      5863.07
52000010886         0.00
52000010978         0.00
52000340242      1758.35

In [25]:
#lets add all the weeks between 18 to 52
weeksList = np.arange(18,53)
weeksList

array([18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52])

In [29]:
len(weeksList)

35

In [26]:
campWeeks #these are only the week for campaigns

array([27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44], dtype=int64)

In [30]:
#make YearWkNumdf
# YearWkNum17 = list(map(lambda x: "2017-"+str(x),campWeeks))
# YearWkNum18 = list(map(lambda x: "2018-"+str(x),campWeeks))
#YearWkNum17 = list(map(lambda x: "2017-"+str(x),weeksList))
YearWkNum18 = list(map(lambda x: "2018-"+str(x),weeksList))
#YearWkNumdf = pd.DataFrame({"YEAR": [2017]*18 + [2018]*18, "WeekNum": list(campWeeks)*2,
#                            "YEARWeekNum":YearWkNum17+YearWkNum18})
#make a YearWkNumdf only for 2018 week 18 to 52
YearWkNumdf = pd.DataFrame({"YEAR": [2018]*35, "WeekNum": list(weeksList),
                            "YEARWeekNum":YearWkNum18})

In [31]:
YearWkNumdf.tail()

    YEAR  WeekNum YEARWeekNum
30  2018       48     2018-48
31  2018       49     2018-49
32  2018       50     2018-50
33  2018       51     2018-51
34  2018       52     2018-52

In [32]:
YearWkNumdf.dtypes

YEAR            int64
WeekNum         int64
YEARWeekNum    object
dtype: object

In [33]:
YearWkNumdf.shape

(35, 3)

In [34]:
#check that all Target Campaign UPC  is in sales
#there are actually soome Campaign UPCs that are msising from sales UPCs
SalesUPC = set(TSalesLt.UPC.unique())

In [35]:
CampUPC = set(TCWeekly.UPC.unique())

In [36]:
CampUPC - SalesUPC 
#these are the UPCs that are missing from Sales file 
#check if they have large revenue later

{28400154406,
 28400154437,
 28400154550,
 28400154659,
 28400155861,
 28400655927,
 30000018804,
 492717000000,
 493000000000,
 818094000000,
 836093000000}

In [37]:
joinUPC = CampUPC & SalesUPC #there are 163 UPCs in both files
print(type(joinUPC))
print(len(joinUPC))

<class 'set'>
163

In [38]:
#checkpoint copy DF
TCWeeklyold = TCWeekly.copy() #for checkpoint

In [ ]:
#Optional
TCWeekly.groupby("UPC")["YEARWeekNum"].count().min() #some only had 1 week that had promotional spend
#max() is 18, which means that most of them do not have all 18 weeks of promotion spend>0

In [ ]:
TSalesLt.shape #

In [39]:
len(TSalesLt.UPC.unique()) #TSales has 1124 UPCS, so the result df should have 1124*35 = 39340 rows

1124

In [40]:
1124*35

39340

In [41]:
163*35 #post joining both TSalesSlice and TClight it should have 5705 rows

5705

In [42]:
#make sure yeach UPC has all data for each Week in the campaign week
#fill in the weeks that have no data with 0 sales and 0 spend
def mergeYWN(df):
    #each df is of a single UPC df
    df2 = df.merge(YearWkNumdf, how = "right", left_on="YEARWeekNum", right_on="YEARWeekNum")
    return df2

In [43]:
SalesSlicedf = TSalesLt.groupby(["UPC"]).apply(mergeYWN)

In [44]:
SalesSlicedf.shape #check that shape is correct, should be TSalesLt unique UPC * num weeks in YearWeekNumdf

(39340, 7)

In [46]:
#fill in the missing rows
SalesSlicedf[SalesSlicedf["UPC"].isnull()][:10]

             UPC  Gross Sales  YEAR_x  WeekNum_x YEARWeekNum  YEAR_y  \
UPC
71090098 11  NaN          NaN     NaN        NaN     2018-18    2018
         12  NaN          NaN     NaN        NaN     2018-19    2018
         13  NaN          NaN     NaN        NaN     2018-20    2018
         14  NaN          NaN     NaN        NaN     2018-21    2018
         15  NaN          NaN     NaN        NaN     2018-22    2018
         16  NaN          NaN     NaN        NaN     2018-23    2018
         17  NaN          NaN     NaN        NaN     2018-24    2018
         18  NaN          NaN     NaN        NaN     2018-25    2018
         19  NaN          NaN     NaN        NaN     2018-26    2018
         20  NaN          NaN     NaN        NaN     2018-27    2018

             WeekNum_y
UPC
71090098 11         18
         12         19
         13         20
         14         21
         15         22
         16         23
         17         24
         18         25
         19         26
         20         27

In [47]:
SalesSlicedf.isnull().sum()

UPC            10251
Gross Sales    10251
YEAR_x         10251
WeekNum_x      10251
YEARWeekNum        0
YEAR_y             0
WeekNum_y          0
dtype: int64

In [48]:
SalesSlicedf.drop(columns = ["UPC","YEAR_x", "WeekNum_x"], inplace = True) #drop the extra UPC columns that has null values
SalesSlicedf.reset_index(inplace = True) #reset index so true UPC is acolumns
SalesSlicedf.drop(columns = ["level_1"], inplace = True) #drop extra column

#fillnas Sales with 0
SalesSlicedf["Gross Sales"].fillna(0, inplace = True)


SalesSlicedf.rename(columns={"YEAR_y": "YEAR", "WeekNum_y": "WeekNum"}, inplace=True)

In [49]:
SalesSlicedf.shape

(39340, 5)

In [50]:
SalesSlicedf.columns

Index(['UPC', 'Gross Sales', 'YEARWeekNum', 'YEAR', 'WeekNum'], dtype='object')

In [51]:
TCWeekly.columns

Index(['UPC', 'YEAR', 'WeekNum', 'YEARWeekNum', 'Spend'], dtype='object')

In [52]:
len(TCWeekly.UPC.unique())

174

In [53]:
174*35 #post merge it should have 6090 rows

6090

In [54]:
#merge TCWeekly with all the YEARWeekNumdf
TCWeeklyFull = TCWeekly.groupby(["UPC"]).apply(mergeYWN)

In [55]:
TCWeeklyFull.shape #checked length correct

(6090, 7)

In [56]:
TCWeeklyFull.isnull().sum()

UPC            4191
YEAR_x         4191
WeekNum_x      4191
YEARWeekNum       0
Spend          4191
YEAR_y            0
WeekNum_y         0
dtype: int64

In [57]:
TCWeeklyFull.tail(3)

                 UPC  YEAR_x  WeekNum_x YEARWeekNum  Spend  YEAR_y  WeekNum_y
UPC
836093000000 32  NaN     NaN        NaN     2018-50    NaN    2018         50
             33  NaN     NaN        NaN     2018-51    NaN    2018         51
             34  NaN     NaN        NaN     2018-52    NaN    2018         52

In [58]:
#do the same reorg as SalesSlicedf
TCWeeklyFull.drop(columns = ["UPC","YEAR_x", "WeekNum_x"], inplace = True) #drop the extra UPC columns that has null values
TCWeeklyFull.reset_index(inplace = True) #reset index so true UPC is acolumns
TCWeeklyFull.drop(columns = ["level_1"], inplace = True) #drop extra column
TCWeeklyFull["Spend"].fillna(0, inplace = True)

In [59]:
TCWeeklyFull.rename(columns={"YEAR_y": "YEAR", "WeekNum_y": "WeekNum"}, inplace=True)

In [60]:
TCWeeklyFull.tail()

               UPC YEARWeekNum  Spend  YEAR  WeekNum
6085  836093000000     2018-48    0.0  2018       48
6086  836093000000     2018-49    0.0  2018       49
6087  836093000000     2018-50    0.0  2018       50
6088  836093000000     2018-51    0.0  2018       51
6089  836093000000     2018-52    0.0  2018       52

In [61]:
Tmerge = TCWeeklyFull.merge(SalesSlicedf, how ="inner", left_on = ["UPC", "YEARWeekNum"], right_on = ["UPC", "YEARWeekNum"])

In [64]:
163*35

5705

In [62]:
Tmerge.shape #should have 163*35 rows because Campaign and Sales shares 163 unique UPCS

(5705, 8)

In [65]:
Tmerge.head(2)

,UPC,YEARWeekNum,Spend,YEAR_x,WeekNum_x,Gross Sales,YEAR_y,WeekNum_y
0,12000002304,2018-35,0.0,2018,35,102.20,2018,35
1,12000002304,2018-36,8.0,2018,36,99.39,2018,36

In [66]:
#Tmerge.to_csv("Tmerge.csv")

In [67]:
Tmerge.isnull().sum() #should not have any null values

UPC            0
YEARWeekNum    0
Spend          0
YEAR_x         0
WeekNum_x      0
Gross Sales    0
YEAR_y         0
WeekNum_y      0
dtype: int64

In [68]:
Tmerge.drop(columns=["YEAR_x", "WeekNum_x"], inplace=True)

Tmerge.rename(columns={"YEAR_y": "YEAR", "WeekNum_y": "WeekNum"}, inplace=True)

In [ ]:
##Old Analysis Optional
def sidetoside(df):
    #each df is by individual UPC
    df2017 = df[df["YEAR"].isin([2017])].copy()
    df2017.rename(columns={"Spend": "2017Spend", "Gross Sales": "2017 Sales"}, inplace= True)
    df2018= df[df["YEAR"].isin([2018])].copy()
    df2018.rename(columns={"Spend": "2018Spend", "Gross Sales": "2018 Sales"}, inplace= True)
    result = df2017.merge(df2018, how="inner", left_on="WeekNum", right_on="WeekNum")
    return result

In [ ]:
TS2S = Tmerge.groupby(["UPC"]).apply(sidetoside)

#TS2S.head(10)

TS2S.reset_index(inplace=True)

TS2S.columns

TS2S.drop(columns=['level_1', 'UPC_x','YEARWeekNum_x','YEAR_x','UPC_y', 'YEARWeekNum_y','YEAR_y'], inplace=True)

#TS2S.to_csv("TS2S.csv")
#already have written the file

TS2StotSales = TS2S.groupby(["UPC"], as_index=False)["2018 Sales"].sum()

TS2StotSales.sort_values(by = ["2018 Sales"], ascending=False, inplace=True)

top20UPC = list(TS2StotSales["UPC"][:20])

TS2Stop = TS2S[TS2S["UPC"].isin(top20UPC)]

TS2Stop.shape

#TS2Stop.to_csv("TS2Stop.csv")
#already written
#realized that 2017 had a lot of no sales, so if you want to check delta sales between 2017 and 2018 
#over the campaign period, it is not very telling
#OPTIONAL End

In [80]:
#use Tmerge for machine learning
from sklearn.linear_model import Ridge

In [96]:
def fitridge(df):
    #each df is by a single UPC
    xfields = ["Spend"]
    yfields = ["Gross Sales"]
    lr = Ridge(1e1).fit(df[xfields], df[yfields])
    return lr.coef_[0][0]

In [97]:
SpendCoefbyUPC = Tmerge.groupby(["UPC"]).apply(fitridge)

In [99]:
SpendCoefbyUPC[:10]

UPC
12000002304    -7.475662
12000012761     0.907137
12000012792    -9.025530
12000017117    -3.510522
12000017544   -10.470898
12000030680    -7.596190
12000032004    -3.123947
12000032455    -1.835785
12000046513    -0.011568
12000101519     3.608924
dtype: float64

In [117]:
CoefbyUPCdf = pd.DataFrame(SpendCoefbyUPC, columns=["SpendCoef"])

In [131]:
totSales=Tmerge.groupby(["UPC"])["Gross Sales"].sum()

In [137]:
#append total sales and brand nam
dftotSales = pd.DataFrame({"totSalesWk18-52":totSales})

In [110]:
Target_Sales.columns

Index(['Filter BU 1', 'BU', 'BU (VisualizationFactView)', 'Brand Name',
       'UPC Title', 'Wk End', 'Filter Year', 'Fiscal Year Number',
       'Gross Sales', 'IRI Category (UPCHierarchyView)',
       'IRI SubCategory (UPCHierarchyView)', 'Filter Parent Name',
       'Pepsi Quarter', 'Period Number', 'Shipped Units', 'UPC',
       'UPC (VisualizationFactView)', 'YEAR', 'WeekNum', 'YEARWeekNum'],
      dtype='object')

In [116]:
infobyUPCdf=Target_Sales.groupby(["UPC", "BU", "Brand Name", "UPC Title"], as_index= False)["Gross Sales"].count().copy()

In [122]:
infobyUPCdf.set_index(["UPC"], inplace=True)

In [146]:
infobyUPCdf.drop(columns=["Gross Sales"], inplace = True)

In [123]:
CoefbyUPCdf.head(1)

             SpendCoef
UPC
12000002304  -7.475662

In [145]:
dftotSales.head(1)

             totSalesWk18-52
UPC
12000002304          6487.93

In [147]:
infobyUPCdf.head(1)

              BU Brand Name                        UPC Title
UPC
71090098  Quaker     Gamesa  Gamesa Sugar Wafer Cookie 6.7oz

In [148]:
#merge all of them together and sort by total Sales
dfAll = (CoefbyUPCdf.join(dftotSales, how="left")).join(infobyUPCdf, how="left")

In [149]:
dfAll.head(3)

,SpendCoef,totSalesWk18-52,BU,Brand Name,UPC Title
UPC,,,,,
12000002304,-7.475662,6487.93,Beverages,Pepsi,PEPSI SODA COLA PLASTIC BOTTLE 1 CT 67.6 OZ
12000012761,0.907137,3123.56,Beverages,Lipton,LIPTON GREEN TEA W/CITRUS PREPARED TEA VITAMIN...
12000012792,-9.025530,6308.37,Beverages,Diet Lipton,LIPTON DIET GREEN TEA W/CITRUS PREPARED TEA VI...

In [153]:
dfAll.sort_values(by=["totSalesWk18-52"], ascending = False, inplace=True)

In [154]:
dfAll.head(4)

,SpendCoef,totSalesWk18-52,BU,Brand Name,UPC Title
UPC,,,,,
30000064412,6.188543,51419.96,Quaker,QK Oat Squares Cereal,QUAKER OATMEAL SQUARES OAT SQUARE REGULAR 1 CT...
12000809941,32.342584,49173.69,Beverages,Pepsi,PEPSI SODA COLA CAN IN FRIDGE PCK BX 12 CT 144 OZ
28400642033,2.831057,45443.01,FLNA,Doritos,DORITOS TORTILLA CHIP NACHO CHEESE BAG 9.75 OZ
30000060834,0.091769,44956.10,Quaker,Life,QUAKER LIFE MULTI GRAIN SQUARE CINNAMON 1 CT 1...

In [156]:
dfAll.to_csv("dfAll04082019.csv")

In [71]:
#for the top 20 products, find the weeks there spend was 0 and when spend >0abs
Tmerge.WeekNum.unique()

array([35, 36, 37, 38, 39, 40, 41, 42, 43, 18, 19, 20, 21, 22, 23, 24, 25,
       26, 27, 28, 29, 30, 31, 32, 33, 34, 44, 45, 46, 47, 48, 49, 50, 51,
       52], dtype=int64)

In [72]:
Tmerge["Spend>0"] = (Tmerge["Spend"]>0).astype(int)

In [73]:
#Tmerge only has 2018 data but just make a copy
Tmerge2018 = Tmerge[Tmerge["YEAR"].isin([2018])].copy()

In [74]:
df2018 = Tmerge2018.groupby(["UPC", "Spend>0"], as_index=False).agg({"WeekNum":"count", "Spend": "sum", "Gross Sales": "sum"})

In [75]:
df2018.columns

Index(['UPC', 'Spend>0', 'WeekNum', 'Spend', 'Gross Sales'], dtype='object')

In [76]:
df2018.rename(columns={"WeekNum": "WeekNumCnt", "Spend": "totSpend", "Gross Sales": "totSales"}, inplace=True)

In [77]:
df2018.head(3)

           UPC  Spend>0  WeekNumCnt  totSpend  totSales
0  12000002304        0          29       0.0   5693.57
1  12000002304        1           6      33.0    794.36
2  12000012761        0          25       0.0   2123.34

In [ ]:
df2018["weeklySales"]=df2018["totSales"]/df2018["WeekNumCnt"]
df2018["weeklySpend"]=df2018["totSpend"]/df2018["WeekNumCnt"]

In [ ]:
df2018.head(3)

In [ ]:
#first check if there are any no spend that did not have any sales
df2018[df2018["totSales"]==0]

In [ ]:
df2018zeroSales = df2018[df2018["totSales"]==0].copy() #these will be removed from the table

In [ ]:
df2018zeroSales

In [ ]:
df2018.drop(df2018[df2018["totSales"]==0].index, inplace=True) #drop the no sales UPCs

In [ ]:
checkmiss=df2018.groupby(["UPC"])["Spend>0"].count()<2

In [ ]:
oneRowUPC = list(checkmiss[checkmiss].index)

In [ ]:
df2018noZeroSales = df2018[df2018["UPC"].isin(oneRowUPC)].copy() 
#these only have weeks that have sales
#have to drop these too

In [ ]:
df2018.drop(df2018[df2018["UPC"].isin(oneRowUPC)].index, inplace=True) #drop the no sales UPCs

In [ ]:
checkmiss2=df2018.groupby(["UPC"])["Spend>0"].count()<2

In [ ]:
checkmiss2[checkmiss2] #checked that all have been droped

In [ ]:
df2018.head(3)

In [ ]:
df2018.iloc[0]["weeklySales"]

In [ ]:
df2018.sort_values(by=["UPC", "Spend>0"], inplace = True)

In [ ]:
df2018.tail(4)

In [ ]:
#split and merge
df2018left = df2018[df2018["Spend>0"]==0].copy()

In [ ]:
df2018left.head(3)

In [ ]:
df2018left.drop(columns=["Spend>0", "totSpend", "weeklySpend"], inplace = True)

In [ ]:
df2018left.rename(columns={"WeekNumCnt": "noSpendWeekCnt", "totSales":"noSpendtotSales", 
                   "weeklySales": "noSpendweeklySales"}, inplace = True)

In [ ]:
df2018left.head(3)

In [ ]:
df2018right = df2018[df2018["Spend>0"]==1].copy()

In [ ]:
df2018right.head(3)

In [ ]:
df2018right.rename(columns={"WeekNumCnt": "SpendWeekCnt", "totSales":"SpendtotSales", 
                   "weeklySales": "SpendweeklySales"}, inplace = True)
df2018right.drop(columns=["Spend>0"], inplace=True)

In [ ]:
df2018right.head(3)

In [ ]:
df2018left.shape

In [ ]:
df2018right.shape

In [ ]:
df2018M = df2018left.merge(df2018right, how = "outer", left_on=["UPC"], right_on =["UPC"])

In [ ]:
df2018M.head(3)

In [ ]:
df2018M["delWeeklySales"] = df2018M["SpendweeklySales"]-df2018M["noSpendweeklySales"]
df2018M["weeklyROI"] = df2018M["delWeeklySales"]/df2018M["weeklySpend"]

In [ ]:
df2018M.shape #check shape, should be 151 rows

In [ ]:
df2018M.to_csv("df2018M.csv")

In [ ]:
# def calcdelSales(df):
#     #df is grouped by UPC
#     weeklyDelSales = df.iloc[1]["weeklySales"] - df.iloc[0]["weeklySales"]
#     weeklyROI = weeklyDelSales/(df.iloc[1]["weeklySpend"])
#     return weeklyDelSales, weeklyROI

In [ ]:
# 4/8/2019
#do ridge regression (linear regression) on the dataset

from sklearn.linear_model import Ridge

In [ ]:
np.arange(18,27)

In [ ]:
# attach a few more month of data 
# 
YearWkNumdf2 # this needs to include weeks before 27 (the start of the campign)
#then make sure all Sales SLice has those , then merge with campaign, then run ridge reg